.view-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 40px;
}

.images-carrousel {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 20px;
}

.view-image {
  width: 800px;
  height: 600px;
  object-fit: contain;
}

.image-thumbnails {
  display: flex;
  justify-content: center;
  align-items: center;
  width: max-content;
  margin: 20px auto;
}

.image-thumbnails img {
  cursor: pointer;
  margin: 5px;
  width: 130px;
  height: 130px;
  object-fit: contain;
}

.image-thumbnails img.active-thumbnail {
  width: 150px;
  height: 150px;
}

.view-image:hover {
  cursor: zoom-in;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
}

.modal-image {
  width: 70vw;
  height: 90vh;
  object-fit: contain;
}

.prev-button, .next-button {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 50%;
  width: 1em;
  height: 1em;
  padding: 0px;
  border: none;
  border-radius: 10px;
  font-size: 40px;
  color: #fff;
  background-color: #5192F5;
  cursor: pointer;
}

.prev-button {
  left: .4em;
}

.next-button {
  right: .4em;
}

.close-modal-btn {
  position: absolute;
  top: 30px;
  right: 50px;
  border-radius: 10px;
  width: 50px;
  height: 50px;
  font-size: 40px;
  text-align: center;
  background-color: #5192F5;
  color: white;
  cursor: pointer;
  transition: transform 300ms ease-out;
}

.close-modal-btn:hover {
  cursor: pointer;
  transform: scale(1.3);
  transition: transform 300ms ease-out;
}

.product-principal-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 800px;
  height: max-content;
}

.view-title {
  max-width: 800px;
  text-align: center;
  font-size: 40px;
  margin: 40 auto;
  padding: 10px 20px;
}

.view-amount {
  font-size: 24px;
  margin: 40px auto 0px auto;
  padding: 10px 20px;
}

.prices-info {
  display: flex;
  align-items: center;
  margin: 0px auto;
  padding: 10px 20px;
}

.original-price {
  margin-right: 30px;
  font-size: 30px;
  color: #808080;
  text-decoration: line-through;
}

.new-price {
  font-size: 64px;
  color: #5192F5;
}

.addToCart {
  cursor: pointer;
  margin: 20px auto;
  padding: 1.3em 3em;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  outline: none;
  border: 2px solid #5192F5;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
}

.addToCart:hover {
  background-color: #5192F5;
  box-shadow: 0px 25px 20px #5c84c1;
  color: #fff;
  transform: translateY(-7px);
}

.addToCart:hover span {
  color: #fff;
}

.addToCart:active {
  transform: translateY(-1px);
}

.addToCart span {
  width: 360px;
  text-align: center;
  color: black;
  font-size: 24px;
  font-weight: 400;
  word-wrap: break-word;
}

.addToCart.disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.product-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 20px auto;
  padding: 10px 20px;
}

.product-details p {
  font-size: 20px;
  margin-top: 0;
}

@media (width <= 1400px) {
  .view-image {
    width: 700px;
    height: 500px;
  }
}

@media (width <= 1300px) {
  .view-container {
    grid-template-columns: 60% 40%;
  }

  .view-image {
    width: 500px;
    height: 400px;
  }

  .image-thumbnails img {
    width: 90px;
    height: 90px;
  }

  .view-title {
    font-size: 26px;
    margin: 20px auto;
  }

  .view-amount {
    margin: 0px auto;
    font-size: 20px;
  }

  .original-price {
    font-size: 20px;
  }
  
  .new-price {
    font-size: 40px;
  }
}


@media (width <= 1000px) {
  .view-container {
    margin-top: 20px;
  }

  .view-image {
    width: 500px;
    height: 300px;
  }

  .image-thumbnails img {
    width: 90px;
    height: 90px;
  }

  .view-title {
    font-size: 30px;
  }

  .view-amount {
    font-size: 20px;
  }

  .new-price {
    font-size: 40px;
  }

  .addToCart {
    margin: 10px auto;
    padding: 1em 2em;
  }

  .addToCart span {
    font-size: 20px;
  }
}

@media (width <= 800px) {
  .view-container {
    display: flex;
    flex-direction: column;
    margin-top: 120px;
  }

  .view-image {
    width: 450px;
    height: 300px;
  }

  .image-thumbnails {
    flex-direction: row;
    width: max-content;
    margin-top: 20px;
    padding-right: 10px;
    padding-left: 10px;
  }
  
  .image-thumbnails img {
    width: 70px;
    height: 70px;
  }

  .image-thumbnails img.active-thumbnail {
    width: 100px;
    height: 100px;
  }

  .close-modal-btn:hover {
    transform: scale(1);
    transition: none;
  }

  .view-title {
    padding: 10px 100px;
  }

  .addToCart {
    margin: 20px auto;
    padding: 1.3em 3em;
    background-color: #5192F5;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transform: translateY(0px);
  }

  .addToCart:hover {
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transform: translateY(0px);
  }

  .addToCart span {
    font-size: 24px;
    color: white;
  }

  .product-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 80vw;
    margin: 20px auto;
    padding: 10px 20px;
  }
}

@media (width <= 600px) {
  .view-image {
    width: 400px;
    height: 250px;
  }
  
  .image-thumbnails img {
    width: 60px;
    height: 60px;
  }

  .image-thumbnails img.active-thumbnail {
    width: 90px;
    height: 90px;
  }

  .view-title {
    padding: 10px 40px;
  }
}

@media (width <= 450px) {
  .view-image {
    width: 320px;
    height: 220px;
  }

  .image-thumbnails img {
    width: 45px;
    height: 45px;
  }

  .image-thumbnails img.active-thumbnail {
    width: 70px;
    height: 70px;
  }

  .modal-image {
    width: 65vw;
    height: 80vh;
  }

  .addToCart {
    margin: 20px auto;
    padding: 1em 2em;
  }

  .addToCart span {
    font-size: 20px;
  }
}