.ok-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px 20px;
}
.ok-container p {
  font-size: 1.4rem;
  font-weight: bold;
  max-width: 300px;
  text-align: center;
  margin-right: 50px;
}
.imgOK {width: 400px;}
.home-button{
  display: block;
  margin: auto;
  width: 300px;
  height: 40px;
  background-color: #5192F5;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 24px;
  font-weight: bold;
}
.home-button:hover {background-color: #5C84C1;}