.user-page-content {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.user-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: max-content;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  padding-left: 50px;
  padding-right: 50px;
  border-radius: 10px;
  background-color: #f9f9f9;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.user-info h2 {
  text-align: center;
  margin-bottom: 20px;
}

.user-info p {
  margin: 5px 0;
  font-size: 20px;
  font-weight: bold;
}

.user-info span {
  font-weight: normal;
}

.delete-user-btn {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  font-size: 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  background-color: #5192F5;
  color: white;
  border: none;
}

.delete-user-btn:hover {background-color: #5C84C1;}