.quienes-somos-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 20px;
  padding: 20px;
}

.waw-title {
  font-family: 'Sakurata';
  font-size: 3rem;
}

.quienes-somos-container img {
  width: 500px;
  height: auto;
}

.waw-text {
  margin: 20px 100px;
  font-size: 1.3rem;
  font-weight: bold;
}

@media (width <= 1440px) {
  .quienes-somos-container img {
    width: 400px;
  }
}

@media (width <= 1100px) {
  .quienes-somos-container img {
    width: 300px;
  }
}

@media (width <= 800px) {
  .waw-title {
    margin-top: 120px;
    font-size: 2.5rem;
  }
}

@media (width <= 500px) {
  .waw-title {
    font-size: 2rem;
  }

  .waw-text {
    margin: 20px 50px;
    font-size: 1rem;
  }

  .quienes-somos-container img {
    width: 220px;
  }
}