.promo-image {
  width: 40%;
  display: block;
  margin: 2% auto;
}

.product-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 5%;
  margin-bottom: 10%;
}

button {
  padding: 1.3em 3em;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  border: 2px solid #5192F5;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
  margin-bottom: 30px;
}

button:hover {
  background-color: #5192F5;
  box-shadow: 0px 25px 20px #5c84c1;
  color: #fff;
  transform: translateY(-7px);
}

button:hover span {
  color: #fff;
}

button:active {
  transform: translateY(-1px);
}

button span {
  width: 360px;
  text-align: center;
  color: black;
  font-size: 24px;
  font-family: 'Franklin Gothic Medium';
  font-weight: 400;
  word-wrap: break-word;
}