.promo-image {
  width: 95vw;
  object-fit: fill;
  margin: 0px auto -60px auto;
  -webkit-mask-image: linear-gradient(to bottom, black 90%, transparent 100%);
  mask-image: linear-gradient(to bottom, black 90%, transparent 100%);
}

.product-row {
  display: grid;
  grid-template-columns: 600px 600px;
  justify-content: space-around;
}

.product-row img {
  filter: drop-shadow(
    0 0 10px rgba(0, 0, 0, .6)
  );
  transition: all 0.3s ease 0s;
}

.product-row img:hover {
  filter: drop-shadow(
    0 0 10px rgba(0, 0, 0, .8)
  );
  transition: all 0.3s ease 0s;
}

.loadMoreButton {
  padding: 1.3em 3em;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  border: 2px solid #5192F5;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
  margin: 50px auto;
}

.loadMoreButton:hover {
  background-color: #5192F5;
  box-shadow: 0px 25px 20px #5c84c1;
  color: #fff;
  transform: translateY(-7px);
}

.loadMoreButton:hover span {
  color: #fff;
}

.loadMoreButton:active {
  transform: translateY(-1px);
}

.loadMoreButton span {
  width: 360px;
  text-align: center;
  color: black;
  font-size: 24px;
  font-weight: 400;
  word-wrap: break-word;
}

@media (width <= 1200px) {
  .product-row {
    grid-template-columns: 500px 500px;
  }
}

@media (width <= 1000px) {
  .product-row {
    grid-template-columns: 400px 400px;
  }
}

@media (width <= 800px) {
  .promo-image {display: none;}
  .product-row {
    display: flex;
    flex-direction: column;
  }

  .product-row img {
    filter: drop-shadow(
      0 0 10px rgba(0, 0, 0, .8)
    );
    transition: none;
  }

  .loadMoreButton {
    transition: none;
    background-color: #5192F5;
    transform: none;
  }

  .loadMoreButton span {
    color: #fff;
  }
  
  .loadMoreButton:hover {
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transform: translateY(0px);
  }

  .loadMoreButton:active {
    transform: translateY(0px);
  }
}