.header-container {
  padding-right: 70px;
  padding-left: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

a {text-decoration: none;}

.nombreEmpresa {
  text-align: center;
  color: black;
  font-size: 3rem;
  font-family: 'SAKURATA';
  font-weight: 400;
  word-wrap: break-word;
  transition: transform 300ms ease-out;
}

img {
  width: 300px;
}

.search-bar {
  background: white;
  border-radius: 20px;
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 50%;
  padding: 0;
}

.search-bar input {
  border: none;
  outline: none;
  border-radius: 20px 0 0 20px;
  padding: 10px;
  flex-grow: 1;
  background: transparent;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 1.5rem;
}

.search-bar button {
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 10px;
  border-radius: 0 20px 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar button img {
  width: 20px;
}

.user-icon, .cart-icon {
  width: 50px;
  height: 62px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.user-img, .cart-icon img {
  width: 70px;
  transition: transform 300ms ease-out;
}

.user-img-logged-in {
  transition: transform 300ms ease-out;
}

.user-img-logged-in {
  width: 50px;
  position: relative;
  top: -10px;
}

.user-icon img:hover, .cart-icon img:hover {
  cursor: pointer;
  transform: scale(1.2);
  transition: transform 300ms ease-out;
}

.user-dropdown {
  position: absolute;
  display: flex;
  flex-direction: column;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  border-radius: 15px;
  padding: 12px 16px;
  z-index: 2;
  top: 140px;
}

.user-dropdown a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  margin-bottom: 10px;
}

.user-dropdown button {
  background: none;
  border: none;
  cursor: pointer;
  background-color: #ff4d4d;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  transition: background-color 0.3s;
}

.user-dropdown a:hover {
  background-color: #f1f1f1;
}

.user-dropdown button:hover {
  background-color: #e60000;
}

.cart-counter {
  position: absolute;
  top: 40px;
  right: 60px;
  background-color: #5192F5;
  color: white;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
}

.username-welcome {
  position: absolute;
  top: 92px;
  display: flex;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}