.register-modal {
  display: flex;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
}

.register-form-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #F1D8A3;
}

.close-button {
  position: absolute;
  top: 30px;
  right: 50px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 40px;
  font-weight: bold;
  color: black;
}

.register-form-container h2 {
  margin-bottom: 30px;
}

.register-form-container input {
  width: 340px;
  height: 40px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid transparent;
  padding: 10px;
}

.register-form-container input:hover,
.register-form-container input:focus {
  border: 2px solid #5192F5;
}

.buttonRegister {
  width: 765px;
  height: 50px;
  background-color: #5192F5;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 24px;
  font-weight: bold;
  opacity: 0.5;
  pointer-events: none;
}

.buttonRegister.enabled {
  opacity: 1;
  pointer-events: auto;
}

.buttonRegister:hover {
  background-color: #5C84C1;
}

.register-image-container {
  flex: 1;
  background: url('../../images/rengoku.webp') center center no-repeat;
  background-size: cover;
}
.registerForm {
  display: grid;
  grid-template-columns: 400px 400px;
  align-items: center;
}
input {
  font-size: 24px;
}
.registerForm p {
  margin-top: -20px;
  margin-bottom: 10px;
}