.register-modal {
  display: flex;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
}

.register-form-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #F1D8A3;
  padding: 0px 20px;
}

.close-button {
  position: absolute;
  top: 30px;
  right: 50px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 40px;
  font-weight: bold;
  color: black;
}

.register-form-container h2 {
  margin-bottom: 30px;
}

.register-form-container input {
  width: 340px;
  height: 40px;
  margin-bottom: 5px;
  border-radius: 5px;
  border: 2px solid transparent;
  padding: 10px;
}

.register-form-container input:hover,
.register-form-container input:focus {
  border: 2px solid #5192F5;
}

.buttonRegister {
  width: 765px;
  height: 50px;
  background-color: #5192F5;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 24px;
  font-weight: bold;
  opacity: 0.5;
  pointer-events: none;
}

.buttonRegister.enabled {
  opacity: 1;
  pointer-events: auto;
}

.buttonRegister:hover {
  background-color: #5C84C1;
}

.register-image-container {
  flex: 1;
  background: url('../../images/rengoku.webp') center center no-repeat;
  background-size: cover;
}

.registerForm {
  display: grid;
  grid-template-columns: 400px 400px;
  align-items: center;
}

.input-wrapper input {
  font-size: 24px;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.error-message {
  color: red;
  font-size: 14px;
  min-height: 18px;
  margin-top: -5px;
  margin-bottom: -5px;
}

@media (width <= 1100px) {
  .register-image-container {
    display: none;
  }
}

@media (width <= 800px) {
  .register-form-container input {
    width: 340px;
    height: 30px;
    margin-top: -10px;
  }
  
  .buttonRegister {
    width: 400px;
    height: 50px;
  }

  .registerForm {
    display: flex;
    flex-direction: column;
  }
  
  .input-wrapper input {
    font-size: 20px;
  }
  
  .error-message {
    font-size: 12px;
  }
}

@media (width <= 400px) {
  .register-form-container {
    padding: 0px 0px;
  }

  .register-form-container input {
    width: 250px;
    height: 20px;
    margin: -10px auto 0px auto;
  }
  
  .buttonRegister {
    width: 300px;
    height: 40px;
  }
  
  .input-wrapper input {
    font-size: 20px;
  }
  
  .error-message {
    font-size: 12px;
    min-height: 16px;
    margin-top: 0px;
    margin-bottom: -5px;
  }

  .close-button {
    top: 15px;
    right: 25px;
  }
}