.login-modal {
  display: flex;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
}

.login-form-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #F1D8A3;
}

.close-button {
  position: absolute;
  top: 30px;
  right: 50px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 40px;
  font-weight: bold;
  color: black;
}

.login-form-container h2 {
  margin-bottom: 30px;
}

.login-form-container input {
  width: 430px;
  height: 50px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 2px solid transparent;
  padding: 10px;
}

.login-form-container input:hover,
.login-form-container input:focus {
  border: 2px solid #5192F5;
}

.buttonLogin, .registerButton {
  width: 430px;
  height: 50px;
  background-color: #5192F5;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 24px;
  font-weight: bold;
}

.buttonLogin:hover, .registerButton:hover {
  background-color: #5C84C1;
}

.separator {
  width: 500px;
  height: 2px;
  background-color: black;
  margin: 20px 0;
}

.register-section span {
  display: block;
  margin-bottom: 10px;
}

.login-image-container {
  flex: 1;
  background: url('../../images/rengoku.webp') center center no-repeat;
  background-size: cover;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  font-size: 24px;
}