.animePage-container {
  display: flex;
  justify-content: center;
}

.animePage-container img {
  width: 400px;
  margin: 60px auto -30px auto;
}

@media (width <= 800px) {
  .animePage-container img {
    width: 350px;
    margin: 130px auto 0px auto;
  }
}

@media (width <= 400px) {
  .animePage-container img {
    width: 280px;
    margin: 130px auto 0px auto;
  }
}