.ko-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px 20px;
}

.ko-container p {
  font-size: 1.4rem;
  font-weight: bold;
  max-width: 300px;
  text-align: center;
  margin-right: 50px;
}

.imgKO {width: 500px;}

@media (width <= 800px) {
  .ko-container {
    margin-top: 150px;
  }

  .ko-container p {
    font-size: 1.2rem;
    max-width: 280px;
  }

  .imgKO {
    width: 300px;
  }
}

@media (width <= 500px) {
  .ko-container {
    display: flex;
    flex-direction: column;
  }

  .ko-container p {
    font-size: 1.2rem;
    max-width: 280px;
    margin: 20px auto;
  }

  .imgKO {
    width: 280px;
    margin: 20px auto;
  }
}