.ko-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px 20px;
}

.ko-container p {
  font-size: 1.4rem;
  font-weight: bold;
  max-width: 300px;
  text-align: center;
  margin-right: 50px;
}

.imgKO {width: 500px;}